.bio {
    position: relative;

    img {
        width: 100%;
        display: block;
        margin-bottom: 1rem;

        @include large {
            width: 20rem;
            position: absolute;
            left: -6rem;
            top: -3rem;
        }

        &:first-of-type {
            z-index: 0;
            pointer-events: none;
            display: none;

            @include large {
                display: block;
            }
        }

        &:last-of-type {
            transition: opacity 450ms ease-in-out;
            z-index: 1;

            @include large {
                opacity: 0;
            }

            &.active {
                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &__link {
        display: block;

        @include large {
            display: inline-block;
        }
    }
}
