html, body {
    width: 100%;
    overflow-x: hidden;
    background: $background-color;
    color: $text-color;
}

body {
    padding-top: 2rem;

    @include large {
        padding-top: 6rem;
    }
}

.container {
    padding: 0 1rem;
    max-width: 60rem;
    margin: 0 auto;
}

.intro {
    margin-bottom: $spacing;
}

.footer {
    margin-top: 5 * $spacing;
}