@font-face {
    font-family: 'MonaspaceNeon';
    src: url('/fonts/MonaspaceNeon-Regular.woff2') format('woff2'),
         url('/fonts/MonaspaceNeon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MonaspaceNeon';
    src: url('/fonts/MonaspaceNeon-SemiBold.woff2') format('woff2'),
         url('/fonts/MonaspaceNeon-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

