@import "reset";

$breakpoint: 768px;

:root {
  --color-background: #ffffff;
  --color-foreground: rgb(64, 64, 64);
  --color-foreground-dimmed: rgb(157, 157, 157);
  --color-accent: rgb(15, 64, 197);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #111111;
    --color-foreground: rgb(172, 172, 172);
    --color-foreground-dimmed: rgb(106, 106, 106);
    --color-accent: rgb(50, 98, 230);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  cursor: default;
  user-select: none;
}

a {
  color: var(--color-accent);
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h2,
h3,
h4 {
  margin-bottom: 1em;
}

strong {
  font-weight: 500;
}

input,
button {
  font-family: inherit;
}

header {
  a {
    text-decoration: none;
    color: inherit;
  }
}

main {
  padding: 4em;
  max-width: 40em;
  margin: 0 auto;

  // tablet media query has smaller lateral padding
  @media (max-width: $breakpoint) {
    padding: 4em 1em;
  }
}

.copy {
  margin: 4em 0;

  p {
    margin-bottom: 2em;
  }
}

footer {
  cursor: text;
  user-select: text;

  p {
    small {
      display: block;
      font-size: 0.75em;
      margin-top: 5em;
      padding: 0 2em;
      text-align: center;
      color: var(--color-foreground-dimmed);
    }
  }
}
