---
import "../styles/main.scss";
import Bio from "../content/bio.md";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Riccardo Zaffalon — Frontend web developer</title>
        <meta
            name="description"
            content="Riccardo Zaffalon, frontend web developer specialized in building fast and enjoyable web experiences, using modern web technologies and user-centered design"
        />
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <main>
            <header>
                <h1>Hi, I'm <a href="/">Riccardo Zaffalon</a>,</h1>
            </header>

            <section>
                <h2>a frontend developer with 7+ years experience</h2>

                <h3>
                    I specialize in building fast, reliable, and user-centered
                    web interfaces; <br />I value simplicity and human
                    interactions above clutter and hierarchies.
                </h3>
            </section>

            <section class="copy">
                <Bio />
            </section>

            <footer>
                <p>
                    If you want to know more, or just say “Hi”, you are welcome
                    to get in touch anytime at <a
                        href="mailto:riccardo.zaffalon@gmail.com"
                        id="contacts"
                        target="_blank">riccardo.zaffalon@gmail.com</a
                    >
                    or find me on
                    <a href="//twitter.com/rzaffa" target="_blank">Twitter</a>, <a
                        href="//www.linkedin.com/in/riccardozaffalon"
                        target="_blank">LinkedIn</a
                    >, and <a
                        href="//github.com/RiccardoZaffalon"
                        target="_blank">GitHub</a
                    >.
                </p>
            </footer>
        </main>
    </body>
</html>
