html,
body {
    background-color: $background;
    color: $text;
}

header,
main,
footer {
    section {
        width: calc(100% - 4.8rem);
        max-width: 72rem;
        margin: 0 auto;
        padding: 2rem 0;

        @include desktop {
            padding: 5rem 0;
        }
    }
}

header {
    section {
        padding-top: 4rem;

        @include desktop {
            padding-top: 10rem;
        }
    }
}

main {
    section {
        padding-bottom: 4rem;

        @include desktop {
            padding-bottom: 10rem;
        }
    }
}

footer {
    color: $text;
    background-color: adjust-color($color: $background, $lightness: -2%);

    section {
        padding-top: 4rem;
        padding-bottom: 4rem;

        @include desktop {
            padding-top: 10rem;
            padding-bottom: 10rem;
        }
    }
}