html {
    font-size: 62.5%;
}

body {
    font-family: europa, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: $text;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 300;
}

h1,
h2,
h3 {
    cursor: default;
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 0.85em;
}

h1 {

    font-size: 4.2rem;
    line-height: 1;
    font-style: italic;
}

p {
    cursor: default;

    &:not(:last-of-type) {
        margin-bottom: 1.75em;
    }
}

a,
a:link,
a:hover,
a:focus,
a:active,
a:visited,
strong,
.strong {
    color: $accent;
    font-weight: 400;
    letter-spacing: 0.05rem;
}