@import "reset";

@mixin theme($mode) {
  @if ($mode == dark) {
    --background: #030303;
    --foreground: #ffffff;
    --foreground-dim: #c7c7c7;
    --accent: #f46252;
  } @else {
    --background: #ffffff;
    --foreground: #0e0e0e;
    --foreground-dim: #343434;
    --accent: #fd230c;
  }
}

:root {
  @include theme(light);

  --spacer: 3em;
  --half-spacer: 1.5rem;
  --foreground--highlight: var(--accent);
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme(dark);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground-dim);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1.05em;
}

::-moz-selection {
  background: var(--accent);
  color: var(--background);
}

::selection {
  background: var(--accent);
  color: var(--background);
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
  font-weight: 700;
  color: var(--foreground);
}

h2 {
  a {
    display: block;
  }
}

h2,
p {
  margin-bottom: var(--spacer);
}

footer {
  margin-bottom: var(--spacer);
  padding-top: var(--half-spacer);
}

a {
  color: var(--foreground--highlight);
  text-decoration: none;

  &:hover {
    color: var(--foreground--highlight);
  }

  &:focus,
  &:active {
    outline: 1px dotted var(--accent);
  }

  p &,
  &:not([href="/"]) {
    font-size: 0.9375em;
    text-decoration: underline;
  }
}

section {
  padding: 0 1em;
  max-width: 42em;
  margin: 0 auto;
}

@media (min-width: 992px) {
  :root {
    --spacer: 4em;
    --half-spacer: 2rem;
  }

  h1 {
    margin-top: var(--spacer);
    margin-bottom: var(--half-spacer);
  }

  h2 {
    a {
      display: inline;
    }
  }
}
